*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading{
    text-align:center;
    margin: 2rem;
}

.grid-main{
    display:grid;
    grid-template-columns:auto auto;
    gap:1rem;
    margin:1.5rem;
}

.grid-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:135px;
    border:2px solid whitesmoke;
    border-radius:20px;
    padding:1rem;
    cursor:pointer;
}

.grid-child:hover{
    color: #212121;
    background-color: whitesmoke;
    transition: 0.5s;
}

.grid-child p{
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
}


.translation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.text-area{
    background-color: #212121;
    color: whitesmoke;
    padding: 1rem;
    font-size: 20px;
}



@media screen and (max-width:576px) {
    .grid-main{
        grid-template-columns: auto;
        margin: 2rem;
    }

    .grid-child{
        height: 150px;
    }

    .grid-child p{
        margin-top: 15px;
    }
}